.idea/
build-*/
cmake-build-*/
*.otr
*.o2r
*.log
torch.hash.yml
.DS_Store
debug/
!src/factories/debug/
*.z64
*.n64
*.inc.c
headers/
build/
code/
.vscode/
tools/
!soh/tools/
modding/*
.cache

# Generated YAML asset definitions (per-version dirs are gitignored via soh/assets/yml/.gitignore)

# Doxygen output
docs/html
docs/latex