.idea/
build-*/
cmake-build-*/
*.otr
*.log
.DS_Store
debug/
!src/factories/debug/
*.z64
*.n64
*.inc.c
headers/
build/
code/
.vscode/
tools/
!soh/tools/
modding/*
.cache

# Generated YAML asset definitions
soh/assets/yml/

# Doxygen output
docs/html
docs/latex